.container {
  width: fit-content;
}

.heroText {
  max-width: 60%;
  margin-inline: auto;
  margin-block-start: 5em;
}
.heroTitle {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  color: var(--blue-300);
  text-transform: uppercase;
}
.heroTitle span {
  color: var(--black);
}

.heroSubtitle {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: var(--text-100);
}
.heroSubtitle p {
  margin: 20px;
  font-size: 1rem;
  color: var(--black);
}
.button {
  padding: 2rem;
  text-align: center;
}
.button button {
  background-color: var(--blue-300);
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: 8px;
}
.button button:hover {
  background-color: var(--blue-400);
}
