.container{
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.text {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 5em;
}
.textHeader h1 {
  font-size: 2rem;
  color: var(--blue-300);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.textHeader p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.textContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 2rem;
}

.textItem {
  text-align: center;
  min-width: 200px;
  font-size: 1.2rem;
  font-weight: 600;
}

.textItem hr {
  border: 0;
  height: 2px;
  background-color: var(--blue-300);
  margin-top: 1rem;
}

.textItem:nth-child(2) {
  margin-bottom: 2rem;
}
.textContent {
  width: fit-content;
  margin-block-start: 5em;
  padding: 2rem 8rem;
}
.textContent h1 {
  font-size: 2rem;
  color: var(--blue-300);
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.textContent p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #555;
}
.textContentItem {
  padding: 2rem 8rem;
}
.contentItems {
  display: flex;
  gap: 3rem;
}
.contentItem h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue-300);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.contentItem p {
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 15px;
  color: #555;
}
