.container {
  width: 100%;
  padding-bottom: 3em;
  padding-top: 3em;
  padding-right: 6em;
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}
.text {
  padding: 2rem 10rem;
  width: 70%;
  margin-inline: auto;
}
.text small {
  margin-block-start: 1em;
  font-size: 1.2rem;
  color: var(--blue-300);
}
.text h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
}
.text p {
  font-size: 1rem;
  color: var(--black);
  line-height: 2rem;
  margin-bottom: 2rem;
}

.text button {
  margin-top: 2rem;
}
.button {
  background: var(--blue-300);
  color: var(--white);
  padding: 0.5em 2em;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.carouselContainer {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 2rem;
  align-items: center;
  cursor: pointer;
}

/* .carousel:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

@keyframes scrollCarousel {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */
