@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: rgba(20, 20, 20, 1);
  --blue-300: rgba(0, 101, 254, 1);
  --blue-400: rgba(0, 90, 226, 1);
  --blue-10: rgba(254, 254, 254, 0.1);
  --blue-50: rgba(249, 251, 253, 1);
  --white: rgba(255, 255, 255, 1);
  --blue-100: rgba(50, 132, 255, 0.13);
  --blue-200: rgba(73, 145, 255, 1);
  --orange-400: #e7762f;
  --orange-500: #b94b07;
  --text-100: #555;

  --brand-400: var(--orange-400);
  --brand-500: var(--orange-500);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  min-width: 100vw;
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
