.container {
  width: fit-content;
  height: 60%;
}
.heroText {
  max-width: 60%;
  margin-inline: auto;
  margin-block-start: 5em;
}
.heroTitle {
  line-height: 2;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--blue-300);
  text-transform: uppercase;
}
.heroTitle span {
  color: var(--black);
}

.heroSubtitle {
  font-size: 1.2rem;
  text-align: center;
}
.heroSubtitle p {
  margin: 20px;
  font-size: 1rem;
  color: var(--black);
}