.container {
  background-image: url("../../../../public/img/aurora.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  background-size: 100% 70%;
  padding-top: 0.5rem;
}
.heroHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 6em;
}

.heroNav {
  font-size: 1.125rem;
  display: flex;
  align-items: baseline;
  gap: 2em;
}

.heroNavItem {
  font-weight: medium;
}

.heroNavItemDropdown {
  font-weight: medium;
  appearance: none;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
}

.heroAction {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.heroActionLink {
  color: rgba(0, 101, 254, 1);
}

.heroActionButton {
  background: var(--blue-300);
  color: var(--white);
  padding: 0.5em 2em;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
}

.heroText {
  max-width: 60%;
  margin-inline: auto;
  margin-block-start: 5em;
}
.heroTitle {
  line-height: 2;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--blue-300);
  text-transform: uppercase;
}
.heroTitle span {
  color: var(--black);
}

.heroSubtitle {
  font-size: 1.2rem;
  text-align: center;
}
.heroSubtitle p {
  margin: 20px;
  font-size: 1rem;
  color: var(--black);
}
.dropdown {
  position: relative;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 0;
  width: 200px;
}
.dropdownItem {
  padding: 10px 20px;
  display: block;
}
.dropdownItem a {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  width: 100%;
  display: inline-block;
}

.dropdownLink {
  color: var(--black);
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}
